<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dh Heroes</title>
</head>
<body>
    <h1> Estos son los DH Heroes </h1>
    <ul> 
        <li type="disc"> <a href="babbage.html">babbage </a></li>
        <li type="disc"> <a href="berners-lee.html">berners-lee </a></li>
        <li type="disc"> <a href="clarke.html">clarke </a></li>
        <li type="disc"> <a href="hamilton.html">hamilton </a></li>
        <li type="disc"> <a href="hooper.html">hooper </a></li>
        <li type="disc"> <a href="lovelace.html">lovelace </a></li>
        <li type="disc"> <a href="turing.html">turing </a></li>
    </ul>
</body>
</html>